/* Home */
.section {
    max-width: $v_width_content_page;

    @include small {
        margin: $v_margin_section_home_small_medium;
    }

    @include medium {
        margin: $v_margin_section_home_small_medium;
    }

    @include large {
        margin: $v_margin_section_home_large;
    }

    &-title {
        @extend %title-h2;
        margin-bottom: 2rem;
    }
}

/* reviews */
.reviews {
    cursor: grab;

    &-container {
        @extend %flex-center-colun;
        @include small {
            margin: 2rem 0;
        }
        @include medium {
            margin: 2rem 0;
        }
        @include large {
            margin: 2rem;
        }

        .dep {
            &_lista {
                @extend %flex-betw;
                padding-bottom: 2.5rem;
            }

            &_item {
                display: flex;
                padding: 0 10px;
                width: 33.333333%;

                &.swiper-slide {
                    height: auto;
                }

                .review {
                    cursor: grab;
                    display: flex;
                    flex-grow: 1;
                    position: relative;
                    background-color: var(--c_general_details);
                    border-radius: 8px;
                }
            }

            &_dados {
                @include fontInsert(0.95, 400, var(--c_general_text2));
                @extend %flex-center-colun;
                background-color: var(--c_general_details);
                border-radius: 0.5rem;
                flex-grow: 1;
                text-align: left;
                padding: 2rem;
                z-index: 0;

                .dep_data,
                .dep_nome span,
                .dep_msg span {
                    display: none;
                }

                .dep_img {
                    position: absolute;
                    opacity: 0.7;
                }

                .dep_msg {
                    flex-grow: 1;
                    font-weight: 400;
                    order: -2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    line-height: 1.25;
                    text-align: left;
                    transition: ease-in-out 0.3s;
                }

                .dep_nome {
                    @include fontInsert(0.95, 600, var(--c_general_text1));
                    line-height: 1.5;
                    margin: 2rem 0 0 0;
                    text-align: left;
                    width: 100%;
                }
            }

            &_nota {
                display: none;
            }

            &_link {
                display: none;
            }
        }
    }
    &-button {
        margin-top: 2rem;
        @include small {
            width: 100%;
        }
        .button2 {
            text-transform: none;
        }
    }
}

/// Newsletter:
.news {
    &-container {
        @extend %flex-center-colun;

        @include small {
            margin: 2rem 0;
        }
        @include medium {
            margin: 2rem 0;
        }
        @include large {
            margin: 2rem;
        }
    }

    &-content {
        display: flex;

        @include small {
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 2.5rem;
        }
        @include medium {
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 2.5rem;
        }
        @include large {
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 2.5rem;
        }

        li {
            background-color: var(--c_general_details);
            border-radius: 0.5rem;
            list-style: none;
            padding: 2.5rem;
            @include small {
                margin: 1rem 0;
                width: 100%;
            }
            @include medium {
                margin: 1rem 0;
                width: 100%;
            }
            @include large {
                margin: 0 1rem;
                width: calc(100% / 3);
            }
        }
    }

    &-item {
        h3 {
            font-size: 0;
            padding-bottom: 1rem;

            a {
                @include fontInsert(1, 700, var(--c_general_secondary));
            }
        }

        p {
            @include fontInsert(0.95, 400, var(--c_header_text_secondary));
            max-height: 4rem;
            overflow: hidden;
            position: relative;

            &::after {
                background-color: var(--c_general_details);
                content: '...';
                color: var(--c_header_text_secondary);
                position: absolute;
                bottom: 0;
                right: 0;
                text-align: center;
                width: 1rem;
            }
        }
    }

    &-button {
        @include small {
            width: 100%;
        }
        .button2 {
            text-transform: none;
        }
    }
}

/// Tag clouds
.tagCloud {
    &-list {
        @extend %flex-center-center;
        flex-wrap: wrap;

        @include small {
            padding: 0;
        }
        @include medium {
            padding: 0 5rem;
        }
        @include large {
            padding: 0 6rem;
        }

        .tagCloud-item {
            transition: $transit_slow;

            @include small {
                margin: 1rem 0.7rem;
            }
            @include medium {
                margin: 1rem 1rem;
            }
            @include large {
                margin: 1rem 1rem;
            }

            &:nth-child(2n) {
                opacity: 0.6;
            }
            &:nth-child(3n) {
                opacity: 0.4;
            }
            &:nth-child(4n) {
                opacity: 0.8;
            }

            &:hover {
                opacity: 1;

                .tagCloud-word {
                    color: var(--c_general_main);
                    background-color: transparent;
                }
            }
        }
    }

    &-word {
        @include fontInsert(1, 600, var(--c_general_text_inverted));
        border-radius: 1.5rem;
        background-color: var(--c_general_main);
        padding: 0.5rem 1.3rem;
        text-transform: capitalize;
        transition: $transit_slow;
    }
}
