.pageProduct {
    &-main {
        @extend %flex;

        @include small {
            flex-direction: column;
        }
    }

    &-gallery {
        @extend %flex;
        flex-direction: column;
        max-height: 700px;
        position: relative;
        height: 100%;

        @include small {
            padding-right: 0;
            width: 100%;
        }
        @include medium {
            padding-right: 2.5rem;
            width: 50%;
        }
        @include large {
            padding-right: 2.5rem;
            width: 50%;
        }

        .swiper {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            @extend %flex-center;
            background-size: cover;
            background-position: center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .gallery {
            &-video {
                cursor: pointer;
                color: red;
                opacity: 1;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;
                transition: 0.2s ease-out;
                z-index: 5;

                &:hover {
                    opacity: 0.6;
                }
            }

            &-images {
                height: calc(100% - 5.624rem);
                width: 100%;
            }

            &-thumbs {
                box-sizing: border-box;
                cursor: pointer;
                margin: 1rem 0;
                position: relative;
                height: 6.5rem;

                .swiper-wrapper {
                    @include small {
                        scale: 0.89;
                    }
                    @include medium {
                        width: 100%;

                        &.u-show {
                            scale: 0.89;
                        }
                    }
                    @include large {
                        width: 100%;

                        &.u-show {
                            scale: 0.89;
                        }
                    }
                }

                .swiper-slide {
                    height: 100%;
                    opacity: 0.4;
                }

                .swiper-slide-thumb-active {
                    opacity: 1;
                }

                .slides-buttonPrev--galery,
                .slides-buttonNext--galery {
                    align-items: center;
                    background-color: var(--c_general_details);
                    justify-content: center;
                    position: absolute;
                    top: 5%;
                    z-index: 15;
                    height: 90%;
                    width: 1.5rem;

                    @include small {
                        display: flex;
                    }
                    @include medium {
                        display: none;

                        &.u-show {
                            display: flex;
                        }
                    }
                    @include large {
                        display: none;

                        &.u-show {
                            display: flex;
                        }
                    }
                }
                .slides-buttonPrev--galery {
                    left: 0;
                    transform: rotate(180deg);
                }

                .slides-buttonNext--galery {
                    right: 0;
                }

                .gallery-thumb {
                    .gallery-img {
                        transition: $transit_slow;
                        scale: 1;
                    }

                    &:hover {
                        .gallery-img {
                            scale: 1.1;
                        }
                    }
                }
            }
        }
    }

    &-info {
        width: 50%;

        .product-rating {
            justify-content: flex-start;

            .rating-message {
                text-align: left;
            }
        }
    }

    &-tags {
        @extend %flex-betw-center;
        flex-wrap: wrap;
        @include small {
        }
        @include medium {
        }
        @include large {
        }

        .tag {
            @include fontInsert(0.9, 700, var(--c_general_text_inverted));
            @extend %flex-center;
            background-color: var(--c_general_primary2);
            border-radius: 2px;
            margin: 0 0.19rem 0.19rem 0;
            position: relative;
            overflow: hidden;
            text-align: center;
            height: 1.5rem;

            @include small {
                font-size: 0.75rem;
                width: calc((100% - (0.19rem * 3)) / 3);
            }
            @include medium {
                font-size: 0.75rem;
                width: calc((100% - (0.19rem * 3)) / 3);
            }
            @include large {
                width: calc((100% - (0.19rem * 3)) / 3);
            }

            &:only-child {
                width: 100%;
            }

            img {
                height: auto;
                max-width: 100%;
                width: auto;
            }
        }
    }

    &-name {
        @extend %title-h1Product;
        margin: 1.5rem 0 0.85rem 0;
    }

    &-subtitle {
        @extend %flex;
        @extend %paragraph-text;
        margin-bottom: 0.95rem;

        .subtitle-detail {
            margin-right: 1.5rem;
        }
    }

    &-text {
        @extend %paragraph-text;
    }

    &-bonusScore {
        @include fontInsert(1, 600, var(--c_general_text2));
        background-color: var(--c_general_details);
        border-radius: 0.5rem;
        margin-top: 1rem;
        padding: 1.5rem;

        .produto-bonus {
            @extend %flex-betw-center;
        }

        #idBonusVariacao {
            @include fontInsert(0.9, 600, var(--c_general_text_inverted), uppercase);
            background-color: #fbb832;
            border-radius: 5rem;
            line-height: 0.9;
            padding: 0.4rem 1rem;
            text-align: center;

            &::after {
                content: ' PONTOS';
            }
        }

        strong:last-child {
            display: none;
        }
    }

    &-progressiveDiscount {
        @include fontInsert(1, 600, var(--c_general_text2));
        background-color: var(--c_general_details);
        border-radius: 0.5rem;
        margin-top: 1rem;
        padding: 1.5rem;
        text-align: center;
    }

    &-price {
        border-top: $v_border_titles;
        margin-top: 1.5rem;

        .txt-por {
            text-transform: lowercase;

            + br {
                display: none;
            }
        }

        #produto_preco {
            @include fontInsert(0.9, 400, var(--c_general_text3));
        }

        .precode {
            text-transform: lowercase;

            .currency {
                text-transform: uppercase;
                &::before {
                    content: ':  ';
                }
            }
        }

        abbr {
            text-decoration: none;
        }

        .PrecoPrincipal {
            @include fontInsert(1.5, 600, var(--c_general_primary1));

            + br {
                display: none;
            }
        }

        #info_preco {
            line-height: 1.8;
        }

        .produto-economize {
            display: none;
        }

        .produto-formas-pagamento {
            display: none;
        }

        strong.preco-parc2,
        .preco-parc2 strong {
            color: var(--c_general_text2);
        }
    }

    &-wishlist {
        border-radius: 5rem;
        font-weight: 600;
        line-height: 1;
        margin-top: 1.5rem;
        text-transform: none;
        padding: 0.5rem 1.5rem;

        a {
            color: inherit;
        }
    }

    &-buy {
        margin-top: 1.5rem;

        #button-buy {
            @extend .button1;

            span {
                font-size: 0;

                &::before {
                    content: 'COMPRAR PRODUTO';
                    font-size: 0.92rem;
                }
            }
        }
    }

    &-shipping {
        border-top: $v_border_titles;
        margin-top: 1.5rem;
        padding: 1.5rem 0;

        .serverTray-content {
            display: none;
        }

        .shipping {
            &-text {
                @include fontInsert(0.97, 600, var(--c_general_text2));
                margin-bottom: 0.5rem;
            }

            &-form {
            }

            &-label {
                font-size: 0;
            }

            &-input {
                background-color: var(--c_general_details);

                padding: 0.95rem 0.7rem;
            }

            &-submit {
                display: inline;
            }
        }
    }
}
