<header data-header="scroll" class="header">
    <div class="header-top">
        <div class="header-content">
            <button class="header-button mobile" data-toggle="closed" data-target="#menu-mobile" title="Abrir Menu" aria-label="Abrir o menu">
                <div class="button-line"></div>
                <div class="button-line"></div>
                <div class="button-line"></div>
            </button>

            <a class="header-logo" href="{{ store.url }}" title="Logo da loja" aria-label="logo da {{ store.name }}">
                {% if settings.logo %}
                    <img class="header-image" src="{{ asset(settings.logo) }}"
                        alt="{{ store.name }}"
                        width="222" height="55"
                    />
                {% endif %} 
                {% if 'home' in pages.current %}
                    <h1 class="header-title">{{ store.name }}</h1>
                {% else %}
                    <h6 class="header-title">{{ store.name }}</h6>
                {% endif %}
            </a>

            {% element 'snippets/header-search' %}

            <div class="header-account">
                <span class="icon-account" aria-hidden="true"></span>

                <div class="tray-hide logged" data-logged-user="true">
                    <span class="account-text">Ol&aacute;, <span data-customer="name"></span></span>
                    <div class="account-access">
                        <a class="account-link" href="{{ links.central }}" title="Minha Conta">Minha conta</a>
                        <span class="account-separator">/</span>
                        <a class="account-link" href="{{ links.logout }}" title="Sair">Sair</a>
                    </div>
                </div>
                <div class="tray-hide loggedout" data-logged-user="false">
                    <span class="account-text">Minha Conta</span>
                    <div class="account-access">
                        <a class="account-link" href="{{ links.login }}" title="Entrar">Entrar</a>
                        <span class="account-separator">/</span>
                        <a class="account-link" href="{{ links.register }}" title="Cadastrar">Cadastrar</a>
                    </div>
                </div>
            </div>

            <a class="header-cart" href="{{ links.cart }}" title="Carrinho">
                <span class="icon-cart" aria-hidden="true"></span>
                <span class="cart-quantity" data-cart="amount">0</span>
            </a>
        </div>
    </div>

    <nav data-menu="scroll" class="header-menu">{% element 'snippets/menu' %}</nav>
</header>
