{% if type %}
    {% set quantity = quantity | default(8) %}
    {% set title %}
        {{ type == 'top_seller' ? 'Mais Vendidos' :
            type == 'new' ? 'Lançamentos' :
            type == 'featured' ? 'Destaques' : 
            type == 'free_shipping' ? 'Frete Grátis' : 
            type == 'promotion' ? 'Promoção'
        }}
    {% endset %}

    {% if type == 'top_seller' %}
        {% set products = Products({
            'filter': ['available'],
            'order' : { 'quantity_sold': 'desc' },
            'limit' : quantity
        }) %}
    {% else %}

        {% if rand %}
            {% set products = Products({
                'filter': [type, 'available'],
                'limit' : quantity,
                'order' : 'rand'
            }) %}
        {% else %}
            {% set products = Products({
                'filter': [type, 'available'],
                'limit' : quantity
            }) %}
        {% endif %}

    {% endif %}

    {% if products | length > 0 %}
        <section class="section showcase">
            <h2 class="section-title">
                {{ title }}
            </h2>

            <ul class="showcase-listProduct">
                {% for item in products %}
                    <li class="listProduct-item">
                        {% element 'snippets/product' {
                            product : item,
                            slide   : false
                        } %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

{% endif %}