<div class="catalog">
    {% element 'snippets/breadcrumb' %} 
    
    {% if settings.show_filters_sidebar %}
        <aside id="category-filter" class="catalog-filter">
            <div class="filter-header u-mobile">
                Filtros
                <button class="filter-close" data-toggle="close" aria-label="Fechar" title="Fechar">
                    <span class="icon-exit" aria-hidden="true"></span>
                </button>
            </div>
            {% if products | length > 0 %} 
                {% element 'smartfilter' %} 
            {% endif %}
        </aside>
    {% endif %}

    <section class="catalog-section">
        <header class="catalog-header">
            <h1 class="catalog-title">{{ category.name }}</h1>

            {% element 'snippets/banner-line' { 'banner_id': 'title', 'banner_type': 'container' } %} 
            
            {% if category.small_description %}
                <div class="catalog-description">{{ category.small_description }}</div>
            {% endif %} 
            
            {% if products | length > 0 %}
                <div class="catalog-listRefinement">
                    <div class="results">
                        Resultado: <b>{{ paginate.params.count }} produto(s)</b> em
                        <b>{{ paginate.params.pageCount }} p&aacute;gina(s)</b>
                    </div>
                    <div class="listFilter">{% element 'snippets/filter' %}</div>

                    <button class="filter-button u-mobile button4" data-toggle="closed" data-target="#category-filter">
                        Filtro de Produtos
                    </button>

                    {% if settings.compare %}
                        <button class="compare-button">
                            <a href="/loja/comparador.php?loja={{store.id}}&IdDep={{category.id}}" class="button2">
                                {{ Translation("comparar_produto") }}
                            </a>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </header>

        {% if products | length > 0 %}
            <div class="catalog-content">
                {% element 'catalog-showcase' { "products": products } %}
            </div>
            <footer class="catalog-footer">
                {% if paginate.params.pageCount > 1 %} 
                    {% element 'snippets/pagination' %} 
                {% endif %}
            </footer>

        {% else %}
            <p class="catalog-empty">
                {{ Translation('nenhum_resultado') }} :(
            </p>
        {% endif %}
    </section>
</div>
