<!DOCTYPE html>
<html
    lang="{{ tray.lang == 'pt' ? 'pt-BR' : tray.lang }}"
    data-theme-name="{{ settings.theme_name }}"
    data-theme-version="{{ settings.theme_version }}"
    data-files="{{ utils.assets_version }}"
    data-store="{{ store.id }}"
    class="page-{{ pages.current }}"
>
    <head>
        {# Attention!
        # To load the JS and CSS files in the non-minified version, change the value of "minified" to "false" #}
        {% set minified = true %}

        {{ html.charset() }}

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="{{ settings.c_general_main }}" />

        {% element 'head-metas' %} 
        {% element 'css-variables' %} 
        {% element 'import-styles' { minified : minified } %}
        
        {{ tray.analytics }} 
        {{ googleTagManager.header(pages.current, tagManagerData) }}
    </head>
    <body>
        {{ googleTagManager.top(pages.current, tagManagerData) }} 
        {% element 'snippets/modals' %} 
        
        {% spaceless %}
        <div class="overlayShadow" data-overlay="shadow"></div>
        <div class="application default">
            {% element 'header' %} 
            {% element 'snippets/menu-mobile' %}

            <main class="default-main">
                {% if not ('home' in pages.current) %}
                    <div class="default-content {{ pages.current in ['catalog', 'home', 'search'] ? ' not-padding' }}">
                {% endif %} 
                    {% if "central" in pages.current %}
                        <div class="container">
                            <div class="line-panel flex">
                                {% element 'sidebar-central' %}
                                <div class="col-panel">{{ content_for_layout }}</div>
                            </div>
                        </div>
                    {% elseif 'home' in pages.current %} 
                        {{ content_for_layout }} 
                    {% else %} 
                        {% set special_pages = [ 'listas', 'depoimentos-de-clientes', 'noticias' ] %} 
                        {% set title = '' %} 

                        {% for page in pages.custom %} 
                            {% if ('empresa' in page.slug and pages.current == 'company') or (pages.current == page.slug and page.slug not in special_pages) %} 
                                {% set title = page.name %} 
                            {% endif %} 
                        {% endfor %}

                        <div class="container {% if title != '' %} is-custom-page {% endif %}">
                            {% if title != '' %}
                                <div class="default-title">
                                    <span class="text"> {{ title }} </span>
                                </div>
                            {% endif %} 
                            {{ content_for_layout }}
                        </div>
                    {% endif %} 
                    
                    {% if not pages.current == 'home' %}
                        </div>
                    {% endif %}
            </main>

            {% element 'footer' %}
        </div>
        <div>{% element 'snippets/alert-store' %}</div>

        {# default tray #} 
        {% element 'snippets/pageview' %} 
        {% element 'snippets/modal' %} 
        {% endspaceless %}

        {% element 'import-scripts' { minified : minified } %} 
        {{ store.chat }}

        {# default tray #} 
        {{ googleTagManager.bottom(pages.current, tagManagerData) }}
    </body>
</html>
