#lightwindow,
#lightwindow_overlay {
    display: none;
}

.blocoAlerta {
    color: var(--c_alert_error);
    background-color: var(--c_alert_error_bg);
    border-radius: 0.5rem;
    display: block;
    font-size: 0.8rem;
    padding: 0.8rem;
    margin: 5px 0;
    display: block;

    .lightwindow {
        color: $c_alert;
    }
}
