.page-contact {
    h1 {
        @include title-h1;
        margin: 2.5rem 0;
    }

    .Mapa {
        display: none;
    }

    .contactUs {
        &-description {
            @extend %paragraph-text;
            margin-bottom: 4rem;
        }

        &-phone,
        &-whats,
        &-email {
            @extend %flex-center-start-colun;
            margin-bottom: 2.5rem;

            @include small {
                height: 3rem;
            }
            @include medium {
                height: 4rem;
            }
            @include large {
                height: 4rem;
            }

            &:before {
                @extend %flex-center-center;
                background-color: var(--c_general_main);
                border-radius: 50%;
                color: var(--c_general_text_inverted);
                position: absolute;

                @include small {
                    height: inherit;
                    width: 3rem;
                    font-size: 1.5rem;
                }
                @include medium {
                    height: 4rem;
                    width: 4rem;
                    font-size: 2rem;
                }
                @include large {
                    height: 4rem;
                    width: 4rem;
                    font-size: 2rem;
                }
            }

            h3 {
                @include title-h3;
                padding-bottom: 0.3rem;
            }

            h3,
            a {
                line-height: 1.3;
                @include small {
                    margin-left: 4rem;
                }
                @include medium {
                    margin-left: 5.5rem;
                }
                @include large {
                    margin-left: 5.5rem;
                }
            }

            a {
                opacity: 1;
                transition: $transit_default;

                &:hover {
                    opacity: 0.6;
                }
            }

            span,
            a {
                @extend %paragraph-text;
            }
        }

        &-phone {
            @extend .icon-phone;
            @extend .icon-config;
        }
        &-whats {
            @extend .icon-whatsapp;
            @extend .icon-config;
        }
        &-email {
            @extend .icon-email;
            @extend .icon-config;
        }
    }

    .board {
        p {
            display: none;
        }
    }

    .board {
        h1 {
            display: none;
        }
        .email-texto {
            font-size: 0;

            a {
                font-size: 0.97rem;
            }
        }
    }

    .board {
        h3 {
            @include title-h3;
        }
        span,
        a:not(.button2) {
            @extend %paragraph-text;
        }

        span.error-block {
            color: $c_alert;
            font-weight: 600;
        }
    }

    .container2 {
        .board:nth-child(n + 3) {
            @extend %flex-colun;
        }

        .topBorder {
            padding-bottom: 2.5rem;
        }

        .container2 {
            .board {
                background-color: var(--c_general_background);
                border-radius: 0.5rem;
                margin-bottom: 5rem;
                padding: 2.5rem;

                h3 {
                    padding-bottom: 2rem;
                }
            }
        }
    }

    .msg-obriga {
        display: block;
        padding-bottom: 1rem;
        width: 100%;
    }

    .formulario-contato {
        input {
            background-color: var(--c_general_inverted);
            font-weight: 400;
            height: 3rem;
            line-height: 1.2;
            padding: 0 1.5rem;
            width: calc(100% - 3rem);

            &:focus {
                box-shadow: inset 0 0 4px var(--c_header_text_secondary);
            }
        }

        label.block {
            display: block;
            line-height: 2.3;
            margin-bottom: 1.5rem;

            span:last-child {
                display: none;
            }
        }

        .textarea,
        textarea.text {
            border: unset;
            padding: 1.5rem;
            width: 100%;

            &:focus {
                box-shadow: inset 0 0 4px var(--c_header_text_secondary);
                outline: 0;
            }
        }

        .button2 {
            @include small {
                width: 100%;
                text-align: center;
            }
            @include medium {
                width: 12.5rem;
            }
            @include large {
                width: 12.5rem;
            }
        }
    }
}
