.page-depoimentos {
    .board {
        h1 {
            @extend %title-h1;
        }

        .editDep {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            h3 {
                @extend %subtitle-h3;
                padding-bottom: 0.5rem;

                img {
                    position: absolute;
                    top: 16px;
                    left: 20px;
                    bottom: 0;
                    z-index: -1;
                    opacity: 0.7;
                }
            }

            > li {
                @extend %paragraph-text;
                background-color: var(--c_general_details);
                border-radius: 0.5rem;
                margin: 0 4rem 1.25rem 4rem;
                padding: 2.5rem;
                text-align: left;
                z-index: 0;
                width: 100%;

                ul li {
                    &:first-child {
                        font-weight: 600;
                        padding-bottom: 0.4rem;
                    }

                    &:nth-child(2) {
                        padding-bottom: 1rem;

                        strong {
                            font-weight: 400;
                        }
                    }

                    &:last-child {
                        strong {
                            font-weight: 400;
                        }
                    }
                }
            }

            strong {
                font-weight: 600;
            }
        }
    }
    .container {
        @extend %flex-colun;
        position: relative;

        .container3 {
            &:nth-child(5) {
                order: 1;

                /// Form Review
                .container2 {
                    background-color: var(--c_general_tertiary);
                    border-radius: 8px;
                    padding: 0 2.5rem 2.5rem 2.5rem;

                    .form_depto {
                        label {
                            @extend %paragraph-bold-text;
                            @include checkbox-circle;

                            input:not(.radio) {
                                background-color: var(--c_general_text_inverted);
                                border-radius: 2px;
                                margin-top: 0.5rem;
                                padding: 0 1.5rem;
                                height: 3rem;
                                width: calc(100% - 3rem);

                                &:focus {
                                    box-shadow: inset 0 0 4px var(--c_header_text_secondary);
                                }
                            }

                            h3 {
                                margin-bottom: 0.5rem;
                            }

                            h5 {
                                @extend %paragraph-text;
                                overflow: hidden;
                                padding-top: 0.5rem;
                                text-indent: -0.5rem;
                            }
                        }

                        .textarea {
                            border: unset;
                            border-radius: 2px;
                            padding: 1.3rem;

                            &:focus {
                                box-shadow: inset 0 0 4px var(--c_header_text_secondary);
                            }
                        }

                        .review-button {
                            width: 13.4375rem;
                            .image {
                                display: none;
                            }
                        }
                    }

                    .nota_dep {
                        @extend %paragraph-bold-text;

                        label {
                            display: inline-flex;
                            margin-right: 1rem;
                            margin-top: 0.95rem;
                            width: 8%;

                            .radio {
                                margin: 0 0.5rem 0 0;
                            }
                        }
                    }
                }
            }
        }

        .container2 {
            hr {
                display: none;
            }
        }

        h2.color {
            @extend %title-h2;
            background-color: var(--c_general_tertiary);
            border: unset;
            border-radius: 8px;
            order: 1;
            padding: 2.5rem;

            &:first-child {
                display: none;
            }

            &::before {
                @extend .icon-arrow-simple;
                @extend .icon-config;
            }
        }
    }
}
