/*.page-central_listas_cliente {
    .col-panel {
        @include small {
            margin-bottom: 2.65rem;
        }
        @include medium {
            margin-bottom: 7.5rem;
        }
        @include large {
            margin-bottom: 7.5rem;
        }
    }
}*/
