.page-central_cliente {
    hr {
        display: none;
    }

    .container3 {
        .container2 {
            .Mapa + .board {
                font-size: 0;
                margin-top: 2rem;

                a {
                    @include fontInsert(0.875, 400, var(--c_general_text2));
                    display: inline-block;
                    margin-bottom: 2.8rem;

                    &:first-child {
                        font-weight: 600;
                    }

                    &:not(:first-child)::before {
                        @extend .icon-config;
                        @extend .icon-arrow-simple;
                        font-size: 0.75rem;
                        padding: 0 0.5rem;
                    }
                }
            }
        }
    }

    .col-panel {
        > .board {
            @extend %style-scroll-big;
            overflow-x: auto;
        }
    }

    .Pedidos {
        overflow-x: auto;
        th,
        td {
            min-width: 7rem;
        }

        tr {
            border-bottom: $v_border_table;
        }
    }
}
