.box-alerts {
    padding: 5px;
    font-size: 0.75rem;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9;
    right: 0;
    background: #a51111;
    text-align: center;
}

.default {
    padding-top: var(--v_height_header_total);
}
