// External styles from libs or packages
@use 'swiper/swiper-bundle.min.css';

/// Values Default
$v_width_content_page: 1210px;
$v_border_header: 1.5px solid var(--c_general_details);
$v_border_titles: 2px solid var(--c_general_details);
$v_margin_section_home_small_medium: 4rem 2rem 0 2rem;
$v_margin_section_home_large: 4rem auto 0 auto;

/// fonts size:
$fs_header: 0.9;
$fs_header_primary: 0.92;
$fs_menu: 1.1;
$fs_menu_m: 1;
$fs_menu_p: 0.89;
$fs_search: 0.92;
$fs_button: 0.92;
$fs_footer_title: 1;
$fs_footer_text: 0.9;

/// transition opacity default:
$trasit_default: 0.2s ease-out;

%flex {
    display: flex;
}

%flex-colun {
    display: flex;
    flex-direction: column;
}

%flex-start {
    display: flex;
    justify-content: flex-start;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

%flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

%flex-betw {
    display: flex;
    justify-content: space-between;
}

%flex-betw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-center-colun {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%flex-betw-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

%flex-colun-betw {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

%style-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--c_general_primary2) var(--c_general_text_inverted);

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--c_general_primary2);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--c_general_text_inverted);
    }
}

/// Inserir o parametro size em "rem"
@mixin fontInsert($size: 1rem, $weight, $textcolor: var(--c_general_text1), $transform: none) {
    color: $textcolor;
    font-family: $font-name;
    font-size: $size * 1rem;
    font-weight: $weight;
    font-variant: normal;
    text-transform: $transform;
}

///Media queries para Resposividade:
@mixin small {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin small-portrait {
    @media (max-width: 768px) and (orientation: portrait) {
        @content;
    }
}

@mixin small-landscape {
    @media (max-width: 768px) and (orientation: landscape) {
        @content;
    }
}

@mixin medium-p {
    @media (min-width: 768px) and (max-width: 900px) {
        @content;
    }
}

@mixin medium-m {
    @media (min-width: 900px) and (max-width: 1000px) {
        @content;
    }
}

@mixin medium {
    @media (min-width: 768px) and (max-width: 1280px) {
        @content;
    }
}

@mixin medium-portrait {
    @media (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
        @content;
    }
}

@mixin medium-landscape {
    @media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
        @content;
    }
}

@mixin large {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin large-portrait {
    @media (min-width: 1280px) and (orientation: portrait) {
        @content;
    }
}

@mixin large-ladscape {
    @media (min-width: 1280px) and (orientation: landscape) {
        @content;
    }
}

// "Header" height settings for scroll
@include small {
    :root {
        --v_height_header_top: 156px;
        --v_height_header_menu: 0;
        --v_height_header_total: var(--v_height_header_top);
    }
}

@include medium {
    :root {
        --v_height_header_top: 128px;
        --v_height_header_menu: 72px;
        --v_height_header_total: calc(var(--v_height_header_top) + var(--v_height_header_menu));
    }
}

@include large {
    :root {
        --v_height_header_top: 128px;
        --v_height_header_menu: 72px;
        --v_height_header_total: calc(var(--v_height_header_top) + var(--v_height_header_menu));
    }
}

@keyframes disappearAndFall {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.u-effectHeader {
    animation-name: disappearAndFall;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    box-shadow: 0 4px 8px #0000002e;
    transition: $trasit_default;
}

///Importacoes de partes SASS:
@import 'resets/reset', 'resets/normalize', 'resets/typhography', 'elements/header', 'elements/footer',
    'elements/showcaseProduct', 'elements/banner', 'acessibility', 'default', 'elements/alert-store', 'pages/home',
    'elements/brands-list', 'pages/category', 'pages/tray/newsletter-confirmation', 'pages/tray/login',
    'pages/tray/page-register';

body {
    height: 100vh;
    width: 100%;
    min-width: 360px;
    font-family: var(--font_family);
    font-size: 16px;
    line-height: 1.4;
    color: var(--c_general_text1);
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 100%;
    max-width: $v_width_content_page;
    margin: 0 auto;

    @include small {
        padding: 0 1.2rem;
    }
    @include medium {
        padding: 0 1.2rem;
    }
    @include large {
        padding: 0 0.938rem;
    }
}

.tray-hide,
.compare-hidden {
    display: none;
}

// visibility and dimension utilities
.is-hidden {
    display: none;
}

.justify-between {
    @extend %flex-betw-center;
}

.justify-center {
    @extend %flex-center;
}

.u-mobile {
    @include small {
        display: block;
    }

    @include medium {
        display: none;
    }

    @include large {
        display: none;
    }
}

.u-desktop {
    @include small {
        display: none;
    }

    @include medium {
        display: block;
    }

    @include large {
        display: block;
    }
}

body.overflowed {
    overflow: hidden;
}

/* Shadows */
.overlayShadow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 19;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    transition: ease-out 0.3s;

    &.u-show {
        opacity: 0.5;
        visibility: visible;
    }
}

/// Close button modal
.close-box {
    position: absolute;
    top: 2.8125rem;
    right: 3.625rem;
    font-size: 1.125rem;
    width: 22px;
    height: 22px;
    cursor: pointer;

    &:hover .icon {
        transition: ease-in-out 0.5s;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/// Icons Style
.icon {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/// components default
.button1 {
    background-color: var(--c_footer_button_news);
    border-radius: 2px;
    color: var(--c_general_text_inverted);
    font-weight: 600;
    font-size: $fs_button;
    text-transform: uppercase;
    padding: 1rem 2rem;
    opacity: 1;
    transition: $trasit_default;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.6;
    }
}

.button2 {
    background-color: var(--c_general_primary1);
    border-radius: 2px;
    color: var(--c_general_text_inverted);
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem;
    opacity: 1;
    transition: $trasit_default;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.6;
    }
}

%button2 {
    background-color: var(--c_general_primary1);
    border-radius: 2px;
    color: var(--c_general_text_inverted);
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

%title-h1 {
    @include fontInsert(2, 700, var(--c_general_text2));
    border-bottom: $v_border_titles;
}

%title-h2 {
    @include fontInsert(1.85, 700, var(--c_general_text2));
    border-bottom: $v_border_titles;
}

%subtitle-h2 {
    @include fontInsert(1.5, 700, var(--c_general_text2));
}
