.banner {
    margin: 0 auto;

    &-full {
        max-width: 1920px;
        height: auto;
        width: 100%;
    }

    &-container {
        max-width: $v_width_content_page;

        @include small {
            margin: $v_margin_section_home_small_medium;
        }
        @include medium {
            margin: $v_margin_section_home_small_medium;
        }
        @include large {
            margin: $v_margin_section_home_large;
        }
    }

    &-slides {
        height: auto;
        position: relative;

        &-item {
            display: block;

            .banner {
                &-link {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;

                    &::after {
                        content: '';
                        display: block;
                    }
                }

                &-img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    top: 0;
                    left: 0;

                    @include small {
                        max-height: 620px;
                    }
                }
            }
        }
    }

    &-link {
        display: block;
        position: relative;
    }

    &-img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 1920px;
        object-fit: cover;
    }
}

.swiper {
    width: 100%;
    height: 100%;

    &-slide {
        display: flex;
        justify-content: center;
    }

    .slides {
        /// Buttons banner
        &-buttonNext,
        &-buttonPrev {
            margin-top: -20px;
            position: absolute;
            top: 50%;
            z-index: 10;
            cursor: pointer;
            opacity: 1;
            transition: $transit_default;

            &:hover {
                opacity: 0.6;
            }
        }

        &-buttonNext {
            right: 10%;
        }

        &-buttonPrev {
            left: 10%;
        }
    }

    &-pagination {
        .icon-circle {
            cursor: pointer;
            padding: 0 0.3rem;
            opacity: 1;
            transition: $transit_default;

            &:hover {
                opacity: 0.6;
            }
            &:not(.icon-circle-empty) {
                position: relative;
                top: -0.06rem;
            }
        }
    }
    img {
        &:not([src]) {
            opacity: 0;
        }
        &.swiper-lazy {
            opacity: 0;
            transition: ease-in-out 0.2s;
        }
        &.swiper-lazy-loaded {
            opacity: 1;
        }
    }
}
