.brands {
    &-list {
        @extend %flex-betw-center;
        @include fontInsert(1.5, 500, var(--c_general_text3));
    }

    &-item {
        @extend %flex-center;
        min-height: 10rem;
    }

    &-title {
        line-height: 0.9;
        word-break: break-word;
        width: 100%;
    }

    .icon-tag {
        margin-right: 0.6rem;
    }
}
