.breadcrumb {
    @extend %flex-start-center;
    flex-wrap: wrap;
    margin: 2rem 0 2.8rem 0;
    width: 100%;

    &-item {
        display: contents;

        &:first-child .breadcrumb-link {
            font-weight: 600;
        }

        &:not(:first-child)::before {
            @extend .icon-arrow-simple;
            @extend .icon-config;
            font-size: 0.75rem;
            padding: 0 0.5rem;
        }
    }

    &-link,
    &-item {
        @include fontInsert(0.875, 400, var(--c_general_text2));
        transition: $transit_default;

        &:hover {
            opacity: 0.8;
        }
    }
}
