.breadcrumb {
    @extend %flex-start-center;
    flex-wrap: wrap;
    margin: 1rem 0 2.8rem 0;
    width: 100%;

    &-item {
        display: contents;

        &:not(:first-child)::before {
            @extend .icon-arrow-simple;
            @extend .icon-config;
            font-size: 0.75rem;
            padding: 0 0.5rem;
        }
    }

    &-link {
        transition: $transit_default;

        &:hover {
            opacity: 0.8;
        }
    }
}
