.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    transition: $transit_slow;
    scroll-behavior: smooth;

    &.u-effectHeader {
        @include small {
            .header-logo {
                display: none;
            }

            .header-content {
                height: calc(var(--v_height_header_top) - (var(--v_height_header_top) / 2.4));
                flex-wrap: nowrap;

                .header-search {
                    order: unset;
                    width: 70%;
                }
            }
        }
        @include medium {
            .header-menu {
                display: none;
                opacity: 0;
            }
            .header-content {
                height: calc(var(--v_height_header_top) - (var(--v_height_header_top) / 3));
            }
        }
        @include large {
            .header-menu {
                display: none;
                opacity: 0;
            }
            .header-content {
                height: calc(var(--v_height_header_top) - (var(--v_height_header_top) / 3));
            }
        }
    }

    &-top {
        background-color: var(--c_header_bg);
    }

    &-content {
        @extend %flex-betw-center;
        transition: $transit_slow;
        margin: 0 auto;
        padding: 0 0.938rem;
        height: var(--v_height_header_top);
        max-width: $v_width_content_page;
        width: auto;

        @include small {
            flex-wrap: wrap;
        }
    }

    &-logo {
        @extend %flex-start-center;
        display: block;
        flex-shrink: 0;
        max-height: 4rem;
        width: auto;

        @include small {
            height: calc(100% - 6.5rem);
        }

        @include medium {
            height: calc(100% - 2rem);
        }

        @include large {
            height: calc(100% - 2rem);
        }

        .header-image {
            width: 100%;
            height: 100%;
            min-width: 90px;

            & + .header-title {
                display: none;
            }
        }
    }

    &-search {
        @extend %flex-center-center;
        position: relative;
        margin: 0 4em;
        transition: width 0.3s ease-out;
        max-width: 650px;
        width: 100%;

        @include small {
            order: 1;
            margin: 0;
            max-width: none;
        }

        .search {
            &-input {
                @include fontInsert($fs_header, 600, var(--c_header_text_main));
                display: block;
                padding: 0 58px 0 20px;
                border-radius: 6px;
                background: var(--c_general_inverted);
                width: 100%;
                height: 52px;

                @include small {
                    font-size: 0.8rem;
                }

                &:focus {
                    box-shadow: inset 0 0 4px var(--c_header_text_secondary);
                }

                &::placeholder {
                    color: var(--c_header_text_secondary);
                    opacity: 0.6;
                }
            }

            &-button {
                border-radius: 6px;
                position: absolute;
                width: 58px;
                height: 100%;
                top: 0;
                right: 0;
                font-size: 20px;
                color: var(--c_header_icon);
                background-color: transparent;
                opacity: 1;
                transition: 0.3s ease-out;

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    opacity: 0.6;
                }
            }
        }

        .suggestion {
            box-sizing: border-box;
            position: absolute;
            top: 100%;
            left: 0;
            max-width: unset;
            max-height: 450px;
            min-width: unset;
            width: 100%;
            padding: 0 1.25rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
            background-color: #fff;
            border-radius: 8px 8px 8px 8px;
            overflow: auto;
            scrollbar-color: var(--c_header_icon) #fff;
            scrollbar-width: thin;
            z-index: 100;

            &::-webkit-scrollbar {
                width: 6px;
                background: #fff;
            }

            &::-webkit-scrollbar-track {
                background: #fff;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--c_header_icon);
                border-radius: 10px;
            }

            &:hover {
                display: block !important;
            }

            .idp,
            .cl {
                display: none;
            }

            span {
                display: block;
                cursor: pointer;
                padding: 4px 0;
            }

            &-words {
                font-size: #{$fs_search}rem;
                margin-bottom: 1.875rem;
                padding: 1.25em 0 1.25em 0;
                background: transparent;
                border-bottom: $v_border_header;

                span {
                    font-size: 0.875rem;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    line-height: 1.4;
                    background-color: transparent;
                    transition: ease-out 0.2s;

                    &:hover {
                        color: var(--c_general_main);
                        background-color: transparent;
                    }
                }

                strong {
                    background: #666;
                }
            }

            &-products {
                width: 100%;
                padding: 0;
                background: transparent;

                strong {
                    background: #666;
                }

                .suggestion-product {
                    margin-bottom: 20px;
                    font-size: 13px;

                    &:hover {
                        background: transparent;
                    }

                    a {
                        display: flex;
                        margin: 0;
                        padding: 0;

                        &:hover {
                            background: transparent;
                        }
                    }

                    .suggestion-img {
                        width: 50px;
                        height: 50px;
                        float: unset;
                        margin-right: 0.625rem;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .suggestion-desc .titlep {
                        @include fontInsert(0.875, 500, var(--c_general_text2));
                        transition: ease-out 0.2s;

                        &:hover {
                            color: var(--c_general_main);
                        }
                    }
                }
            }

            &-title {
                background-color: #d70008;
                display: block;
                @include fontInsert($fs_header, 600, var(--c_general_text1), capitalize);
                text-indent: 0;
                margin-bottom: 1.3rem;
                line-height: 1.4;
                background-color: transparent !important;
            }
        }
    }

    &-account {
        @extend %flex-center-center;

        &[data-logged-user='true']:not(.tray-hide) + [data-logged-user] {
            display: none;
        }

        @include small {
            display: none;
        }

        .icon-account {
            margin-right: 0.5rem;
        }

        .account {
            &-access,
            &-link,
            &-separator {
                color: var(--c_header_text_secondary);
                font-size: #{$fs_header}rem;
                transition: $transit_default;
                line-height: 15px;
            }

            &-text {
                @include fontInsert(0.92, 600, var(--c_header_text_main));
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-access {
                display: flex;
            }

            &-link {
                display: flex;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }

            &-separator {
                padding: 0 4px;
            }
        }
    }

    &-cart {
        transition: ease-out 0.2s;
        margin-left: 1rem;
        @extend %flex-center-center;

        .icon-cart {
            margin-right: 0.3rem;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }

        .cart-quantity {
            @include fontInsert(0.875, 600, var(--c_general_details));
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            line-height: 23px;
            text-align: center;
            vertical-align: middle;
            background-color: var(--c_header_cart);
        }
    }

    /// Menu:
    &-menu {
        @extend %flex-center-center;
        position: relative;
        z-index: -1;
        background-color: var(--c_header_bg);
        opacity: 1;
        transition: transform 0.3s ease-out 0.3s, opacity 0.5s ease-out;
        padding: 0 0.938rem;
        width: auto;

        @include small {
            display: none;
        }

        .menu {
            &-container {
                max-width: $v_width_content_page;
                width: 100%;
                margin: 0 auto;
            }

            &-list .menu-firstLevel > .menu-link,
            &-list .menu-firstLevel > .menu-expand {
                @include medium-p {
                    font-size: #{$fs_menu_p}rem;
                    padding: 0;
                }

                @include medium-m {
                    font-size: #{$fs_menu_m}rem;
                    padding: 0 0.625rem;
                }
            }

            &-list,
            &-firstLevel {
                position: relative;
            }

            &-firstLevel {
                @extend %flex-center-center;
                @include fontInsert(1.05, 600);
                height: var(--v_height_header_menu);

                &:hover > .menu-link,
                &:hover > .menu-expand {
                    color: var(--c_general_main);
                }

                &:active,
                .menu-link:active,
                .menu-expand:active {
                    color: var(--c_general_main);
                }

                &:hover .menu-secondLevel {
                    opacity: 1;
                    visibility: visible;
                }

                &:nth-child(-n + 3) {
                    justify-content: flex-start;
                }

                &:nth-child(n + 6) {
                    justify-content: flex-end;
                }
            }

            &-firstLevel > .menu-link,
            &-firstLevel > .menu-expand {
                position: relative;
                padding: 0 12px;
                text-align: center;
                cursor: pointer;
                color: var(--c_header_text_main);
                z-index: 2;
                transition: ease-out 0.2s;
            }

            &-secondLevel {
                @include fontInsert(1.05, 600);
                @extend %style-scroll;
                background-color: var(--c_general_inverted);
                border-radius: 0 0 0.5rem 0.5rem;
                box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
                visibility: hidden;
                opacity: 0;
                overflow-y: auto;
                padding: 2.0625rem 2.5rem;
                position: absolute;
                top: calc(100% - 40px);
                transform: translateY(40px);
                transition: ease-out 0.2s;
                max-height: 50vh;
                min-width: 275px;
                width: auto;

                .secondLevel-item {
                    border-bottom: $v_border_header;
                    padding: 24px 0;

                    &:first-child {
                        padding-top: 0px;
                    }

                    &:last-child {
                        border-bottom: 0px;
                        padding-bottom: 0px;
                    }
                }

                .menu-link {
                    color: var(--c_general_text1);
                    transition: $transit_default;

                    &:hover {
                        color: var(--c_general_main);
                    }
                }
            }

            &-thirdLevel {
                @include fontInsert(1, 400);
                padding-top: 11px;

                &:last-child {
                    padding-bottom: 0;
                }

                .menu-link {
                    color: var(--c_general_text2);
                }
            }
        }
    }

    &-button.mobile {
        @include small {
            display: flex;
        }

        @include medium {
            display: none;
        }

        @include large {
            display: none;
        }
    }
}

/// Saarch

.header--fixed .header-menu {
    transform: translateY(-115%);
    transition: transform 0.3s ease-out, background 0s ease-out 0.3s;

    .menu {
        &--show {
            transform: translateY(0);
            box-shadow: 0 1px 5px rgb(0 0 0 / 6%);
        }
    }
}

// menu mobile
.menuMobile {
    @extend %flex-center-colun;
    @extend %modal-mobile-menus;
    padding: 2rem;
    transform: translateX(calc(-100% - 10px));
    transition: ease-out 0.3s;

    @include medium {
        display: none;
    }

    @include large {
        display: none;
    }

    &.u-show {
        transform: translateX(0);
    }

    &-title {
        @extend %flex-betw-center;
        @extend %title-menu-modal;
        color: var(--c_general_text1);
        width: 100%;

        .icon-menu {
            margin-right: 1.25rem;

            &::before {
                color: var(--c_general_text2);
                vertical-align: 15%;
            }
        }
    }

    &-close {
        cursor: pointer;
        height: 2.4rem;
        width: 2.4rem;
        transition: $transit_default;

        &:hover {
            transform: rotate(180deg);
        }

        .icon-exit {
            text-transform: none;
            position: relative;
            bottom: -0.18rem;
        }
    }

    &-account {
        @extend %flex-betw-center;
        border-top: $v_border_header;
        margin-top: 1rem;
        padding-top: 0.5rem;

        .u-show {
            .account-access {
                @extend %flex-start-center;
            }

            .account-button .icon-arrow-simple {
                transform: rotate(-90deg);
            }
        }

        .account {
            &-item {
                width: 100%;
            }

            &-button {
                @extend %flex-betw-center;
                width: inherit;

                .icon-arrow-simple {
                    transform: rotate(90deg);
                    transition: $transit_default;
                }
            }

            &-text {
                @include fontInsert(1.5, 700, var(--c_general_text1));
            }

            &-access {
                display: none;
                padding-left: 1rem;
                padding-top: 0.5rem;
                .icon-account {
                    padding-right: 0.5rem;
                }

                .account-link {
                    @include fontInsert(0.875, 400, var(--c_general_text2));
                }
            }
        }
    }

    &-content {
        flex-grow: 1;
        height: calc(100% - 180px);
        margin: 1.875rem 0;
        overflow: auto;
        border-top: $v_border_header;

        @extend %style-scroll;
    }

    .menu {
        &-firstLevel {
            @include fontInsert(1.1, 600, var(--c_general_text1));
            border-bottom: $v_border_header;
            padding: 1.5rem 0 1rem 0;
        }

        &-secondLevel {
            @include fontInsert(1, 400, var(--c_general_text2));
            padding-top: 0.95rem;

            .menu-link {
                line-height: 1.6rem;
            }
        }

        &-thirdLevel {
            padding-left: 0.7rem;
            padding-top: 0.5rem;
        }

        &-firstLevel,
        &-secondLevel,
        &-thirdLevel {
            .menu-link {
                transition: $transit_default;
                opacity: 1;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@include small {
    .header-button {
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 0;
        flex-shrink: 0;
        width: 20px;
        height: 18px;
        margin-right: 1rem;
        cursor: pointer;

        .button-line {
            width: 100%;
            height: 2px;
            background-color: var(--c_header_icon);
            transition: 0.3s ease-out;
            cursor: pointer;
        }

        &:hover .button-line {
            opacity: 0.6;
        }
    }
}
