.modals {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: $transit_default;
    margin: auto auto;
    height: inherit;
    width: inherit;

    &.u-show {
        @extend %flex-center;
        opacity: 1;
        visibility: visible;
    }

    + .overlayShadow {
        display: none;
    }

    &-box {
        background-color: var(--c_general_text_inverted);
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
        border-radius: 0.5rem;
        z-index: 21;
        overflow: hidden;
        min-width: 200px;
        max-width: 1000px;
        width: 100%;
    }

    .box-button {
        @extend %flex-end;
        border-bottom: $v_border_sections;
        margin: 0.5rem 0;
        padding: 1rem;
        height: 2rem;
        width: 100%;

        .close-modal {
            cursor: pointer;
            opacity: 1;
            transition: $transit_default;

            &:hover {
                opacity: 0.8;
                transform: rotate(180deg);
            }
        }
    }
}

.modal-theme .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 2.5rem;
}

.modal-theme .modal-info {
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 1000px;
    padding: 2.5rem;
    color: var(--color_font_medium);
    background: #fff;
    border-radius: 6px;
    transition: transform cubic-bezier(0.54, -0.65, 0.48, 1.64) 0.3s;
    transform: scale(0.6);
    z-index: 2;
}

.modal-theme.show:not(.loaded) .modal-info {
    transform: scale(1);
}

.modal-theme .modal-content img {
    display: block;
    max-width: 100%;
}

.modal-theme.modal-video .modal-info {
    padding: 0;
}

.modal-theme.modal-video .video {
    overflow: hidden;
    border-radius: 6px;
}

.modal-theme.modal-store-reviews .modal-info {
    max-width: 500px;
}

.modal-theme .append {
    padding: 30px 20px 20px;
}

.modal-theme .light_altura {
    width: 400px !important;
    max-width: 100%;
}

.modal-theme .light_altura h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.modal-theme .light_altura hr {
    display: none;
}

@media (min-width: 991px) {
    .modal-theme .append {
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    .modal-theme .modal-wrapper {
        height: auto;
    }
}

@media (max-width: 575px) {
    .modal-theme .modal-wrapper {
        padding: 1.25rem;
    }

    .modal-theme .modal-info {
        padding: 1.25rem;
    }
}
