.filter {
    padding-right: 1.5rem;

    &-section {
        border: $v_border_filter;
        border-radius: 8px;
        padding: 1.5rem 1rem;
        margin-bottom: 1rem;
    }

    &-title {
        @include title-h3;
        padding-bottom: 1.5rem;
    }

    &-list {
        @extend %style-scroll;
        @extend %text-general;

        .filter-checkbox {
            @extend %flex-start-center;
            @include checkbox-square;
            cursor: pointer;
            line-height: 1.1;
            padding-bottom: 0.6rem;
        }

        .filter-label {
            cursor: pointer;
            padding-left: 0.5rem;
            transition: $transit_default;
            opacity: 1;

            &:hover {
                opacity: 0.6;
            }
        }

        .filter-input:checked + .filter-label {
            font-weight: 600;
        }
    }

    &-button {
        width: 100%;
    }
}
