{% if settings.lgpd_alert %}
    <div class="lgpd-alert">
        <div class="lgpd-alert__container">
            <div class="lgpd-alert__infos">
                {% if settings.lgpd_alert_text %}
                    <p>{{ settings.lgpd_alert_text }}</p>
                {% endif %}

                {% if settings.lgpd_alert_page %}
                    <a href="{{ settings.lgpd_alert_page }}">Veja nossa política de Privacidade</a>
                {% endif %}
            </div>
            <button class="lgpd-alert__close button1">Eu concordo</button>
        </div>
    </div>
{% endif %}
