{% if image %}
    {% set item = {
        link   : image.link ? (image.tracked_link ? image.tracked_link : image.link) : null,
        src    : image.image ? image.image : image.src,
        alt    : image.label ? image.label : (image.alt ? image.alt : 'Banner'),
        target : image.target,
        width  : image.width,
        height : image.height
    } %}

    {% set lazy_class         = swiper ? 'swiper-lazy' : 'lazyload' %}
    {% set padding_percentage = ((item.height / item.width) * 100) %}

    <{{ item.link ? 'a href="'~ item.link ~'" class="banner-link"' : 'span' }} 
    {% if item.target == '_blank' %} 
        target="_blank" rel="noopener noreferrer" 
    {% endif %} 
    {% if padding %} 
        style="--padding: {{ padding_percentage }}%" 
    {% endif %}>

    {% if not isSlide %}
        <picture>
            <source media="(max-width: 768px)" data-srcset="
                {{ id == 'bottom' ? banners.extra2.src :
                    id == 'footer' ? banners.extra3.src :
                    id == 'title' ? banners.extra4.src 
                }}                
            ">
    {% endif %}  
            <img class="banner-img {{ swiper ? lazy_class : ( not isSlide ? lazy_class ) }}"
            {% if swiper or ( not swiper and not isSlide) %}
            src="{{ asset('img/empty.png') }}"        
            data-{% endif %}src="{{ item.src }}" 
            alt="{{ item.alt ? item.alt : 'Banner' }}" 
            width="{{ item.width }}" height="{{ item.height }}">
    {% if not isSlide %}
        </picture>
    {% endif %}
    </{{ item.link ? 'a' : 'span' }}>

{% endif %}