{% if image %}

    {% set item = {
        link   : image.link ? (image.tracked_link ? image.tracked_link : image.link) : null,
        src    : image.image ? image.image : image.src,
        alt    : image.label ? image.label : (image.alt ? image.alt : 'Banner'),
        target : image.target,
        width  : image.width,
        height : image.height
    } %}

    {% set lazy_class         = swiper ? 'swiper-lazy' : 'lazyload' %}
    {% set padding_percentage = ((item.height / item.width) * 100) %}

    <{{ item.link ? 'a href="'~ item.link ~'"' : 'span' }} 
    {% if item.target == '_blank' %} target="_blank" rel="noopener noreferrer" {% endif %} 
    {% if padding %} class="banner-link" style="--padding: {{ padding_percentage }}%" {% endif %}>
        <img class="banner-img {{ notLazy ? lazy_class }}"
        {% if notLazy %}
            src="{{ asset('img/empty.png') }}" 
            data-{% endif %}src="{{ item.src }}" 
        alt="{{ item.alt ? item.alt : 'Banner' }}" 
        width="{{ item.width }}" height="{{ item.height }}">
    </{{ item.link ? 'a' : 'span' }}>

{% endif %}