{% if settings.facebook_profile %}
    <a
        class="media-link"
        href="{{ settings.facebook_profile }}"
        title="Facebook"
        aria-label="Facebook"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="icon-facebook" aria-hidden="true"></span>
    </a>
{% endif %} 

{% if settings.instagram_profile %}
    <a
        class="media-link"
        href="{{ settings.instagram_profile }}"
        title="Instagram"
        aria-label="Instagram"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="icon-instagram" aria-hidden="true"></span>
    </a>
{% endif %} 

{% if settings.twitter_profile %}
    <a
        class="media-link"
        href="{{ settings.twitter_profile }}"
        title="Twitter"
        aria-label="Twitter"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="icon-twitter" aria-hidden="true"></span>
    </a>
{% endif %} 

{% if settings.youtube_profile %}
    <a
        class="media-link"
        href="{{ settings.youtube_profile }}"
        title="Youtube"
        aria-label="Youtube"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="icon-youtube" aria-hidden="true"></span>
    </a>
{% endif %} 

{% if settings.spotify_profile %}
    <a
        class="media-link"
        href="{{ settings.spotify_profile }}"
        title="Spotify"
        aria-label="Spotify"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="icon-spotify" aria-hidden="true"></span>
    </a>
{% endif %} 

{% if settings.linkedin_profile %}
    <a
        class="media-link"
        href="{{ settings.linkedin_profile }}"
        title="Linkedin"
        aria-label="Linkedin"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="icon-linkedin" aria-hidden="true"></span>
    </a>
{% endif %} 

{% if settings.pinterest_profile %}
    <a
        class="media-link"
        href="{{ settings.pinterest_profile }}"
        title="Pinterest"
        aria-label="Pinterest"
        target="_blank"
        rel="noopener noreferrer"
    >
        <span class="icon-pinterest" aria-hidden="true"></span>
    </a>
{% endif %}
