{% if settings.show_product_tag_on_listing %} 
    {% set discount = product.price_offer > 0 ? (100 - (product.price_offer / product.price) * 100) : false %} 
    {% set position = 0 %}
    {% set tags_count = 0 %}

    {% if product.new %} 
        {% set tags_count = tags_count + 1 %}
    {% endif %} 
    {% if product.featured %} 
        {% set tags_count = tags_count + 1 %} 
    {% endif %} 
    {% if product.free_shipping %}
        {% set tags_count = tags_count + 1 %} 
    {% endif %} 
    {% if product.additional_button %} 
        {% set tags_count = tags_count + 1 %} 
    {% endif %} 
    {% if product.ProgressiveDiscounts %} 
        {% set tags_count = tags_count + 1 %} 
    {% endif %}     
        
    {% set show_double_tag = settings.show_double_tag %} 
    {% if show_double_tag == 0 %} 
        {% set v_width = '247' %}
    {% else %} 
        {% set v_width = '121' %}
        {% if tags_count % 2 != 0 %} 
            {% set odd_amount = true %} 
        {% endif %}     
    {% endif %} 
    

    {% if discount %}
        <div class="tag-floating tag-percentageDiscount">
            -{{ discount| number_format }}%
        </div>
    {% endif %} 

    {% if product.new or product.featured or product.free_shipping or product.additional_button or product.ProgressiveDiscounts %}

    <div class="product-tag" data-tags-count="{{ tags_count }}">
        {% set replaceTags = {'src=': 'width="' ~ v_width ~ '" height="26" alt="Selo do produto" src='} %} 
        
        {% if product.new and Image('new') %}
            {% set position = position + 1 %} 
            <div class="tag-new tag{{ show_double_tag == 0 ? ' tag--full' }}{{show_double_tag == 1 and (odd_amount and position == tags_count) ? ' tag--center' }}">
                {{ Image('new') | replace(replaceTags) }}
            </div>
        {% endif %} 
        {% if product.featured and Image('featured') %}
            {% set position = position + 1 %}
            <div class="tag-featured tag{{ show_double_tag == 0 ? ' tag--full' }}{{show_double_tag == 1 and (odd_amount and position == tags_count) ? ' tag--center' }}">
                {{ Image('featured') | replace(replaceTags) }}
            </div>
        {% endif %} 
        {% if product.free_shipping and Image('free_shipping') %}
            {% set position = position + 1 %}
            <div class="tag-freeShipping tag{{ show_double_tag == 0 ? ' tag--full' }}{{show_double_tag == 1 and (odd_amount and position == tags_count) ? ' tag--center' }}">
                {{ Image('free_shipping') | replace(replaceTags) }}
            </div>
        {% endif %} 
        {% if product.additional_button and Image('additional_button') %}
            {% set position = position + 1 %}
            <div class="tag-extra tag{{ show_double_tag == 0 ? ' tag--full' }}{{show_double_tag == 1 and (odd_amount and position == tags_count) ? ' tag--center' }}">
                {{ Image('additional_button') | replace(replaceTags) }}
            </div>
        {% endif %} 
        {% if product.ProgressiveDiscounts %} 
            {% set position = position + 1 %}
            {% set discount = product.ProgressiveDiscounts | last %}
            <div class="tag-progressiveDiscount tag{{ show_double_tag == 0 ? ' tag--full' }}{{show_double_tag == 1 and (odd_amount and position == tags_count) ? ' tag--center' }}" title="Produto com desconto progressivo">
                <span class="progressiveDiscount">{{ discount.tag }}</span>
            </div>
        {% endif %}
    </div>
    {% endif %} 
{% endif %}
